<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.work.guaishouxingqiu.aboutball">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.Camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 访问网络，某些位置信息需要从网络服务器获取 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问WiFi状态，需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 修改WiFi状态，发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络状态, 检测网络的可用性，需要网络运营商相关信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 访问手机当前状态, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:name=".base.BaseApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/app_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">

        <meta-data
            android:name="5c773884b465f59b44000a29"
            android:value="YOUR_APP_KEY" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />
        <meta-data
            android:name="TencentMapSDK"
            android:value="GP2BZ-OGDK3-TUH3G-3MHQD-ZKELK-WMBVE" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />

        <activity
            android:name=".home.activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.aboutball"
                    android:scheme="android" />
            </intent-filter>-->

        </activity>
        <activity
            android:name=".splash.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.aboutball"
                    android:scheme="android" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="growing.788865291abc90a2" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>


        </activity>
        <activity
            android:name=".splash.activity.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.MyDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.AlterNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.NewsDetailsActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.activity.GameDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- android:screenOrientation="unspecified" -->

        <activity
            android:name=".media.activity.MediaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".media.activity.PreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".venue.activity.VenueDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name=".media.provider.MediaProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <activity
            android:name=".game.activity.GamePlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="net.sourceforge.simcpux"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".my.activity.EditMyAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.MyPrizeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.NewsSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".commonality.activity.WebDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.UserAgreementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.ShareFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.UpdatePhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.UpdatePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".venue.activity.VenueBookingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".venue.activity.WaitPayOrderDetailsActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".receiver.DownloadMangerReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
                <action android:name="android.intent.action.VIEW_DOWNLOADS" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".venue.activity.LauncherBallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.MyBallTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.ManageBallTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.BallTeamDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.BallTeamMyDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.AboutWeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".venue.activity.SelectorBallTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.ApplyRefereeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.ApplyBecomeRefereeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.RefereeStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.MyRefereeRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.OrderCompleteEvaluateCancelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.OrderEvaluateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.WaitUserOrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".venue.activity.AboutBallDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".venue.activity.BallTeamDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wx41e9ee2ffa7b327e" />
            </intent-filter>
        </activity>
        <activity
            android:name=".venue.activity.InvitationBallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.PaySucceedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".venue.activity.MyAboutBallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.RefundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.OrderRefundDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".venue.activity.AboutRuleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.InputEvaluationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.PostEvaluationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.RefereeDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".venue.activity.VenueEvaluateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.MatchRefereeResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.AddBallPeopleRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".map.activity.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.activity.GameScheduleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".community.activity.CommunityDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".community.activity.DynamicEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".community.activity.SelectorTopicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".community.activity.CommunityReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.PreviewImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".community.activity.MyDynamicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".community.activity.TopicDynamicsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.activity.GameInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.activity.MatchReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.TeamMatchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".venue.activity.MyTeamEvaluateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.VersionHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".community.activity.CameraVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.AttentionAndFansActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.MyMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.activity.MessageNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".venue.activity.CreateBallActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".venue.activity.VenueListActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>